html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.preview {
  height: 100vh;
  overflow: hidden;
  color: #080808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.preview img {
  padding: 3.8em 3.1em 0;
  height: 37.6em;
  width: 31.3em;
}

.preview img ~ .rounds {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.preview img ~ .rounds > span {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.preview h1 {
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0;
}

.preview h1 ~ div {
  color: #8d8d8d;
  letter-spacing: 0;
  line-height: 2.2rem;
  font-size: 1.5rem;
}

.preview h1 ~ div > span {
  width: 100%;
}

.preview h1 ~ div a {
  text-decoration: underline;
}

.preview .next__btn {
  width: 85%;
  border-radius: 1.6rem;
  margin: 0 2.5em;
  padding: 1.5em 0;
  background-color: #e24e59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview .next__btn a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.preview .skip__btn {
  width: 85%;
  border-radius: 1.6rem;
  margin: 0 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview .skip__btn a {
  color: #e24e59;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.section1 .rounds span:nth-child(1) {
  background-color: #e24e59;
}

.section2 img {
  width: 105%;
}

.section2 .rounds span:nth-child(2) {
  background-color: #e24e59;
}

.section3 img {
  width: 45em;
}

.section3 .rounds span:nth-child(3) {
  background-color: #e24e59;
}
