html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

ul, li{
    list-style: none;
}
// section1

$pink: #E24E59;
$black: #080808;
$grey: #D6D6D6;
$text_grey: #8D8D8D;

.section1{
    height: 80vh;
    overflow: hidden;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img{
        padding: 3.8em 3.1em 0;
        height: 37.6em;
        width: 31.3em;

        ~.rounds{
            margin-top: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            > span{
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background-color: $grey;
            }
            :first-child{
                background-color: $pink;
            }
        }
    }
    h1{
        font-weight: bold;
        font-size: 2.4rem;
        letter-spacing: 0;
        ~div{
            color: $text_grey;
            letter-spacing: 0;
            line-height: 2.2rem;
            font-size: 1.5rem;
            
            >span{
                width: 100%;
            }
            a{
                text-decoration: underline;
            }
        }
    }
    .next__btn{
        width: 85%;
        border-radius: 1.6rem;
        color: #fff;
        margin: 0 2.5em;
        padding: 1.5em 0;
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            color: #FFF;
            text-decoration: none;
            font-size: 1.8em;
            font-weight: bold;
        }
    }
    
}

