html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
// section1

$pink: #e24e59;
$black: #080808;
$grey: #d6d6d6;
$text_grey: #8d8d8d;

.preview {
    position: relative;
    margin-bottom: 10em;
    height: 100vh;
    overflow: hidden;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .btns{
        position: absolute;
        width: 100%;
        bottom: 10em;
    }
    img {
        padding: 2em 3.1em 0;
        height: 37.6em;
        width: 31.3em;

        ~ .rounds {
            margin-top: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            > span {
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background-color: $grey;
            }

        }
    }
    h1 {
        font-weight: bold;
        font-size: 2.4rem;
        letter-spacing: 0;
        ~.grey__text{
            color: $text_grey;
            letter-spacing: 0;
            line-height: 2.2rem;
            font-size: 1.5rem;

            a {
                text-decoration: underline;
            }
        }
    }
    .next__btn {
        width: 85%;
        border-radius: 1.6rem;
        margin: 0 2.5em;
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            width: 100%;
            padding: 1.3em 0;
            color: #fff;
            text-decoration: none;
            font-size: 1.8em;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .skip__btn {
        width: 85%;
        border-radius: 1.6rem;
        margin: 0 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: $pink;
            text-decoration: none;
            font-size: 1.8em;
            font-weight: bold;
        }
    }
}
.section1 {
    .rounds span:nth-child(1){
        background-color: $pink;
    }
}
.section2 {
    img{
        width: 105%;
    }
    .rounds span:nth-child(2){
        background-color: $pink;
    }
}
.section3 {
    img{
        width: 45em;
    }
    .rounds span:nth-child(3){
        background-color: $pink;
    }
}